.subscribe{
    background-color: rgb(195, 3, 3);
    color: white;
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.join{
    margin-left: 8px;
    color: blue;
    background-color: white;
    height: 36px;
    width: 59px;
    border:1px solid blue;
    border-radius: 2px;
    cursor: pointer;
}
.tweeter{
    margin-left: 8px;
    background-color: rgb(29, 161, 242);
    color: white;
    border: none;
    height: 36px;
    width: 80px;
    border-radius: 48px;
    cursor: pointer;
}
.login{
    margin-left: 8px;
    height: 45px;
    width: 300px;
    text-align: center;
    border: none;
    background-color: #304af0;
    color:white;
    border-radius: 8px;
    font-weight: bolder;
    cursor: pointer;
}
