.subscribe {
  background-color: rgb(195, 3, 3);
  color: white;
  height: 36px;
  width: 105px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.subscribe:hover {
  opacity: 0.7;
}

.subscribe:active {
  opacity: 0.5;
}

.join {
  margin-left: 8px;
  color: rgb(41, 118, 211);
  background-color: white;
  height: 36px;
  width: 59px;
  border: none;
  border: 1px solid rgb(41, 118, 211);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.join:hover {
  color: white;
  background-color: rgb(41, 118, 211);
}
.join:active {
  opacity: 0.8;
}
.tweeter {
  margin-left: 8px;
  background-color: rgb(29, 161, 242);
  color: white;
  border: none;
  height: 36px;
  width: 80px;
  border-radius: 48px;
  cursor: pointer;
  font-weight: 15px;
  transition: box-shadow 0.15;
}
.tweeter:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.login {
  margin-left: 8px;
  height: 45px;
  width: 300px;
  text-align: center;
  border: none;
  background-color: #304af0;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.15s;
}
.login.login:hover{
    background-color: rgb(21, 32, 191);
}
.uber {
  margin-left: 8px;
  background-color: black;
  color: white;
  height: 45px;
  width: 105px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}
.uber:hover {
  opacity: 0.6;
}
.amazon {
  margin-left: 8px;
  background-color: rgb(225, 216, 20);
  color: black;
  border: none;
  height: 40px;
  width: 170px;
  border-radius: 19px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.amazon:hover {
  background-color: rgb(206, 197, 21);
}
.github {
  margin-left: 8px;
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  height: 40px;
  width: 90px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.github:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.bootstrap-get-start {
  margin-right: 8px;
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  height: 40px;
  width: 115px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s;
}
.bootstrap-get-start:hover {
  background-color: rgb(98, 60, 156);
}
.bootstrap-download {
  background-color: white;
  color: rgb(108, 117, 125);
  border: none;
  border: 1px solid rgb(108, 117, 125);
  height: 40px;
  width: 100px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.bootstrap-download:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
.linkedin-apply {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  height: 40px;
  width: 230px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.linkedin-apply:hover {
  background-color: rgb(21, 87, 152);
}
.linkedin-save {
  margin-left: 8px;
  background-color: white;
  color: rgb(10, 102, 194);
  border: none;
  border: 1px solid rgb(10, 102, 194);
  height: 40px;
  width: 85px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: border-width 0.15s, background-color 1, 15s;
}
.linkedin-save:hover {
  border-width: 2px;
  background-color: rgb(219, 238, 255);
}
